.avatar{
    border-radius: 50%;
    border: 3px solid gray;
    width: 200px;
    margin-left: -100px;
}

.avatar:first-child{
    margin-left: 0px;
}

.content{
    background-color: pink;
    display:inline-block;
}